.reservations-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 20px;
    background: url('../../assets/background4.jpg') no-repeat center center/cover;
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    color: #333;
    z-index: 1;
}
.no-reservations{
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 3px;
    padding: 5px;
}

.title {
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
    color: #6b4e31;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-height: 600px;
    overflow-y: auto;
}

.service-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.service-name {
    font-size: 1.5rem;
    color: #6b4e31;
    margin-bottom: 10px;
}

.service-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.service-price,
.service-duration {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.reserve-button {
    background: #027a02;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.reserve-button:hover {
    background-color: #025d02;
    transform: translateY(-3px);
}
