.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-weight: 600;
    color: white;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex: 1;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

.nav-links a:hover {
    text-decoration: underline;
}

.login-button {
    padding: 8px 16px;
    background-color: #027a02;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;
}

.login-button:hover {
    background-color: #025d02;
}

html {
    scroll-behavior: smooth;
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    .nav-links a {
        font-size: 18px;
    }

    .login-button {
        margin-top: 10px;
        margin-right: 0;
    }

    .logo {
        margin-left: 0;
        margin-bottom: 10px;
    }
}
